*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    
}

body{
    /* background: url(../images/canada.png) 50% 40% no-repeat, url(../images/bulgaria.png) 53% 33% no-repeat; */
    background: url(../images/slav.png) no-repeat 50% 40%;
    background-size: 250px;
    height: 100vh;
}

h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    letter-spacing: 4px;
    font-size: 2.5rem;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color: #333333;
    font-family: 'Black Ops One', cursive;
}

#desc {
    text-align: center;
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
}


.none{
    display: none;
}

:placeholder-shown{
    color: blue;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding-top: 7vh;
    text-align: center;
    height: 70vh;
}

.error{
    text-align: center;
    padding: 3rem;
    color: red;
    letter-spacing: 1px;
    width: 40%;
    margin: -15vh auto 0 auto;
}


.pojam label, .drop{
    font-size: 1.5rem;
    font-family: 'Black Ops One', cursive;
    color: #444444;
    display: inline;
    /* margin: auto; */
    margin-right: 2.5rem;
}

.kategorija p:hover{
    cursor: pointer;
}

.kategorija {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.pojam label {
    display: inline;
}

.pojam input{
    font-size: 1.4rem;
    padding: 1.5rem;
    text-align: center;
    border: none;
    background: #ebe9e9;
    color: #333333;
}

.numbers{
    height: 35px;
    display: inline;
    margin-right: 0.8rem;
    /* margin-top: 3; */
    position: relative;
    top: 0.5rem;
}


/* .menu{
    margin-top: -1rem;
} */


.menu div {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    padding: 0.5rem 0;
    width: 30vw;
    margin: auto;
    letter-spacing: 2px;
    font-weight: bold;
}

.arrow{
    height: 6rem;
    margin-top: 3rem;

    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 100000;
}


@keyframes example {
    0%   {top:0px;}
    /* 25%  {top:2rem;} */
    50%  {top:5rem;}
    /* 75%  {top:2rem;} */
    100% {top:0px;}
  }


.inputdisplay{
    text-align: center;
    padding: 1rem;
    font-size: 7rem;
    font-weight: bold;
    color: #666666;
    width: 90%;
    margin: auto;
}


.kat, .po {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
    color: rgba(4, 147, 114, 1);

    min-height: 3rem;
}


button {
    width: fit-content;
    height: fit-content;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: teal;

    padding: 1rem 2rem;
    border: none;
    margin: 1rem auto 0 auto;
    border-radius: 3px;
}

button:hover {
    background: rgb(1, 110, 110);
}



footer{
    text-align: center;
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}