*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    
}

h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    letter-spacing: 4px;
    font-size: 2.5rem;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color: #333333;
    font-family: 'Black Ops One', cursive;
}

form{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    padding-top: 7vh;
    text-align: center;
}

/* brojevi pored header-a */
.numbers{
    height: 2rem;
    display: inline;
    margin-right: 0.8rem;
    /* margin-top: 3; */
    position: relative;
    top: 0.2rem;
}

/* hederi */
.pojam label, .drop{
    font-size: 1.8rem;
    font-weight: bold;
    // font-family: 'Black Ops One', cursive;
    color: #444444;
    display: inline;
    margin-right: 2rem;
}


/* ispis vrednosti inputa ispod hedera */
.kat, .po {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
    color: rgba(4, 147, 114, 1);

    min-height: 3rem;
}

/* deo forme sa kategorijama */
.kategorija p{
    cursor: default;
}

/* opis za pristup kategorijama */
#desc {
    text-align: center;
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
}



/* kategorije */
.menu div {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0.5rem 0;
    width: 30vw;
    margin: auto;
    letter-spacing: 2px;
    font-weight: bold;
    label{
        text-align: right;
        margin-right: 2rem;
    }
}

/* strelica */
.arrow{
    height: 6rem;
    margin-top: 3rem;

    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 100000;
}

@keyframes example {
    0%   {top:0px;}
    50%  {top:5rem;}
    100% {top:0px;}
  }


/* div sa slikom i top listom */
.img-div img{
    height: 200px;
    margin-top: -3rem;
    transition: all .2s ease-in-out;
}

.img-div img:hover{
    transform: scale(1.1, 1.1);
}

/* opis top liste */
.imgtext{
    font-size: 1.1rem;
    font-weight: bold;
    color: #333333;

    letter-spacing: 1px;
    margin: 2rem;
    cursor: default;

}

/* sadrzaj top liste */
.lista{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    color: #333333;
}

.lista div{
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
}

.lista div:nth-child(odd) {
    text-align: right;
    padding-right: 3rem;
}

  .lista div:nth-child(even) {
    text-align: left;
    letter-spacing: 1px;
    text-transform: lowercase;
}

/* pojmovi */
.pojam label {
    display: inline;
}

.pojam input{
    font-size: 1.4rem;
    padding: 1.5rem;
    text-align: center;
    border: none;
    background: #ebe9e9;
    color: #333333;
}

button {
    width: fit-content;
    height: fit-content;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: teal;

    padding: 1rem 2rem;
    border: none;
    margin: 3rem auto 0 auto;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);

}

button:hover {
    background: rgb(1, 110, 110);
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


/* obavestava koji je username */
.usrnm{
    /* color: black; */
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: default;
}

/* obavestava koja je kategorija izabrana na malim ekranima */
/* .mobilna-kategorija{
    display: none;
} */

.error{
    text-align: center;
    padding: 3rem;
    color: red;
    letter-spacing: 1px;
    width: 40%;
    margin: 0 auto 0 auto;
}

.none{
    display: none;
}

/* footer{
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 0.7rem;
    padding: 1rem 0;
}  */


@keyframes myAnimation{
    0%   {opacity: 1}
    100% {opacity: 0}
}
  
.animation{
    animation-name: myAnimation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

@keyframes myAnimation2{
    0%   {opacity: 0}
    100% {opacity: 1}
}
  
.animation2{
    animation-name: myAnimation2;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}



@media only screen and (max-width: 800px) {


    .arrow{
        display: none;
    }

    .numbers{
        display: none;
    }

    #desc{
        display: none;
    }

    .menu{
        display: block;
    }

    /* nazivi grid pozicija *3 */
    .img-div{
        grid-area: img;
    }

    .kategorija{
        grid-area: kategorija;
        /* position: relative;
        left: 0; */
        width: 50%;
    }

    .pojam{
        grid-area: kategorija;
        /* padding-top: 2rem; */
        margin-left: 50%;
    }

    .kat, .po {
        font-size: 2rem;
        word-break: break-all;
    }


    .pojam label, .drop {
        margin-right: 0;
    }

    .pojam input{
        font-size: 1rem;
        padding: 1.5rem 0.5rem;
        text-align: center;
        border: none;
        background: #ebe9e9;
        color: #333333;
    }
    
    form{
        display: grid;
        grid-template-columns: auto;
        /* grid-template-rows: 20% 20%; */
        padding-top: 0;
        text-align: center;
        grid-template-areas:
        'img' 'kategorija' 'pojam'
        ;
    }

    .menu div {
        display: grid;
        grid-template-columns: 80% 20%;
        text-align: center;
        min-width: 140px;
    }

    .lista{
        margin-bottom: 2rem;
    }
    
    .error{
        margin: 3rem auto 0 auto;
    }
/* 
    .mobilna-kategorija{
        display: block;
        letter-spacing: 1px;
        line-height: 1.5rem;
        font-weight: bold;
        margin-top: 0.3rem;
    } */
  }