*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    
}

h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    letter-spacing: 4px;
    font-size: 2.5rem;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color: #333333;
    font-family: 'Black Ops One', cursive;
}


.none{
    display: none;
}

.ipk{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    ul{
        height: 10rem;
        margin-bottom: 2rem;
        overflow-y: scroll;
        li{
            list-style-type: none;
            padding: 0.2rem;
        }
    }
}

// .chat-form{
// }

/* igra protiv kompjutera */
.ipk-form, .chat-events, .rezultat{
    // display: grid;
    // grid-template-columns: 40% 30% 30%;
    text-align: center;
    // margin: auto;
    padding-top: 3rem;
}




/* kategorija input */
.kat-input div {
    padding: 0.3rem 0;
    display: grid;
    grid-template-columns: 40% 60%;

    font-size: 1.1rem;
    font-weight: bold;
    transition: all .2s ease-in-out;

}

.kat-input div label{
    margin: auto;
    letter-spacing: 1px;
    margin-right: 2rem;
}

#chat, .kat-input div input{
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
    width: 70%;

    color: teal;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: none;
    background: #ebe9e9;
    // color: #333333;
}

.protivnik, .self, .rez-kraj, .wait{
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
    width: 70%;

    color: teal;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin: auto;
}





button, .button{
    margin: 3rem auto 0 auto;
    width: fit-content;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: teal;
    color: whitesmoke;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);


}

button:hover, .button:hover{
    background: rgb(1, 110, 110);
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}